<% if @errors %>
  <%= render 'errors' %>
<% end %>
<%= form_for [@user, @proposal, @experiment] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
  </p>
  <p>
    <%= f.label :results %><br>
    <%= f.text_field :results %><br>
  </p>
  <p>
    <%= f.label :conclusions %><br>
    <%= f.text_field :conclusions %><br>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %><br>

    <%= f.submit %>
  </p>
<% end %>
