<h2>Proposal #<%= @proposal.id %></h2>
<div id="proposal-container">
  <h3>Proposed By:</h3>
  <p><%= @user.first_name %> <%= @user.last_name %></p>
  <h3>Summary:</h3>
  <p><%= @proposal.summary %></p>
  <h3>Hypothesis:</h3>
  <p><%= @proposal.hypothesis %></p>
  <h3>Status:</h3>
  <p><%= @proposal.status %></p>


<% if logged_in? && current_user == @proposal.proposer %>
</div>
<div id="proposal-links">
  <%= link_to 'Edit', edit_user_proposal_path(@user, @proposal) %>
  <%= link_to 'Destroy', user_proposal_path(@user, @proposal), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>

<!-- add experiment new form here. (form should only be available if status is open) -->
<% if logged_in? && current_user.access == "labtech" %>
<div>
  <%= link_to 'Create new experiment', new_user_proposal_experiment_path(@proposal.proposer, @proposal) %>
</div>
<% end %>
