<!DOCTYPE html>
<html>
  <head>
    <title>BreakingLab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1> Welcome to Breaking Lab </h1>
      <nav>
        <a href="/">Home</a>
        <% if logged_in? %>
        <a href="/logout">Logout</a>
        <a href="/users/<%=current_user.id%>"><%= current_user.full_name %></a>
        <% else %>
        <a href= '/login'> Log In </a>
        <a href= '/users/new'> Register </a>
        <% end %>
      </nav>
      <div id="logo">
        <img src="http://freevector.co/wp-content/uploads/2009/08/32094-beaker.png" style="width:150px;height:128px;">
        <!-- <img src="assets/images/logo2.jpg" style="width:150px;height:128px;"> -->
      </div>
    <%= yield %>
  </body>
</html>
