<!DOCTYPE html>
<html>
  <head>
    <title>BreakingLab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1 class="title is-1"> Welcome to Breaking Lab </h1>
      <nav class="navbar">
        <table class="table">
          <td>
            <h4><a href="/">Home</a></h4>
          </td>
          <% if logged_in? %>
          <td>
            <h4><a href="/logout">Logout</a></h4>
          </td>
          <td>
            <h4><a href="/users/<%=current_user.id%>"><%= current_user.full_name %></a></h4>
          </td>
          <% else %>
          <td>
            <h4><a href= '/login'> Log In </a></h4>
          </td>
          <td>
            <h4><a href= '/users/new'> Register </a></h4>
          </td>
          <% end %>
        </table>
      </nav>
      <div id="logo">
        <img src="http://freevector.co/wp-content/uploads/2009/08/32094-beaker.png" style="width:150px;height:128px;">
        <!-- <img src="assets/images/logo2.jpg" style="width:150px;height:128px;"> -->
      </div>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
